---
layout: default
title: Data Science
---

<!-- pagination won't work for different categories, use octopuss paginate:
https://github.com/octopress/paginate -->

<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">
      Here you will find data science posts.  You can view posts from a recent
      project I worked on in my <a href="/research-log">research log</a>. 

      {% assign science = (site.posts | where: "category" , "data-science") %}
      <ul class="page-list">
          {% for post in data-science %}
              <li>
              <span>{{ post.date | date: "%B %e, %Y" }}</span>
              <a href="{{ site.url }}{{ post.url }}">
              {{ post.title }} {% if post.author %} &ndash; {{ post.author }} {% endif %}
              </a>
              </li>
          {% endfor %} 
      </ul>
    </div>
</div>

