---
layout: default
title: Data Science Projects
---

<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">

      This young blog outlines the steps I have taken to accomplish projects
      related to data science. You will find outlines of problems, discussion of
      data manipulation, and even the code I used to accomplish a problem in
      these posts.

      {% include posts/post_listing_data-science-projects.html %}

    </div>
</div>

<!-- Open display blocks on examples -->
{% include posts/display_blocks.html %}

