---
layout: default
title: Finding Gas in Space Clouds
---

<!-- pagination won't work for different categories, use octopuss paginate:
https://github.com/octopress/paginate -->

<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">

      <p>
     
        These posts provide documentation of my research process in order to
        characterize massive clouds of hydrogen in our galaxy. They demonstrate
        my ability to track progress in context of previous research. I wrote
        the posts laden with astronomy jargon, but feel free to peruse to get a
        feel for the diversity of data visualization.

      </p>
      <hr>

      {% include posts/post_listing_research-log.html %}

    </div>
</div>

<!-- Open display blocks on examples -->
{% include posts/display_blocks.html %}

