---
layout: default
title: Research Logs
---

<!-- pagination won't work for different categories, use octopuss paginate:
https://github.com/octopress/paginate -->

<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">
        {% assign research = (site.posts | where: "category" , "research") %}
        <ul class="page-list">
            {% for post in research %}
                <li>
                <span>{{ post.date | date: "%B %e, %Y" }}</span>
                <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }} {% if post.author %} &ndash; {{ post.author }} {% endif %}
                </a>
                </li>
            {% endfor %} 
        </ul>
    </div>
</div>

