---
layout: default
title: Research Logs
---
<div class="col-sm-12">
    <div class="page-title">
        {{ page.title }}
    </div>
    <div class="page-content">
        <ul class="page-list">
            {% assign research = (site.posts | where: "category" , "research") %}
            {% for post in research %}
                <li>
                    <!--
                    <time class="timeago postlist-meta" datetime="{{ post.date |  date: "%A %-d %B %Y" }}">{{ post.date }}</time>
                    &mdash; <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                    -->
<span>{{ post.date | date: "%B %e, %Y" }}</span>
<a href="{{ site.url }}{{ post.url }}">
{{ post.title }} {% if post.author %} &ndash; {{ post.author }} {% endif %}
</a>
                </li>
            {% endfor %} 
        </ul>
    </div>
</div>
