<head>

  {% if site.environment == "production" or site.environment == "local" or site.environment == "dev" %}
    {% include seo_support.html %}
  {% endif %}

    {% include fonts.html %}
    {% if {{site.favicon != blank}} %}
    <link href="{{ site.favicon }}" rel="shortcut icon" type="image/x-icon" />
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/post.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/carousel.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>


</head>
