---
---

@import "vars", "reset", "mixins";

// Slick Carousel style adjustments
// https://kenwheeler.github.io/slick/ 

.slick-prev:before, .slick-next:before { 
    color:$primary-color !important;
}
.slider {
    margin: 10%;
}
.variable-width {
    width: 90%;
    margin: auto;
}
.multiple-items {
    width: 60%;
    margin: auto;
}
.single-item {
    width: 75%;
    margin: auto;
    text-align: center;
}

// avoids blue border 
// https://github.com/kenwheeler/slick/issues/1562
.slick-list {
    outline: none !important;
}
.slick-slide {
		outline: none !important;
}


