---
---
//Last updated 17-03-2015 by nadjetey @12.15am
/* configurations */
$primary-color: #D3E1F5; //#F3F8FF
$lnk-color: #afafaf;
$lnk-highlight-color: #333;

/* IMPORT CSS FILES */
// base css
@import "site";
// syntax highlighting
@import "syntax";
// bootstrap
@import "bootstrap.min";
// fontawesome icons
@import "font-awesome.min";
// Slick carousel
@import "carousel";

body {
  //color:#000;
  font: 17px Poly, 'Helvetica Neue', Helvetica, serif, Arial !important;
  letter-spacing: 0.001em;
  background-padding: 0 !important;
  //background-image: url('/images/background_bw.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-min-width: 100px;
}

.carouselContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px !important;
    padding: 75px 0 60px;

}


/* Adjusting page width with scroll bar */
html {
    overflow-y: scroll;
    overflow-x: scroll;
}

.carouselContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px !important;
    padding: 75px 0 60px;

}
/* Aligning images */
  .centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }

/* Wrap text around an image */
.imageTextWrap {
    img {
        float: right;
        margin: 0 20px 20px 0;
    }

    p {
        text-align: justify;
        text-indent: 2em;
    }
}

/* Remove text wrapping */
.endWrap {
    clear: both;
}


/* Image Caroosel */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}



